<configuration>
  <system.webServer> 
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
     <rewrite>
       <rules>
			<rule name="api">
				<match url=".*" />
				<action type="Rewrite" url="server.js" />
			</rule>
			<rule name="AllowAllMethods">
				<match url=".*" />
				<conditions>
					<add input="{REQUEST_METHOD}" pattern="(GET|POST|PUT|DELETE)" />
				</conditions>
				<action type="Rewrite" url="{R:0}" />
			</rule>
       </rules>


     </rewrite>
	 
	  <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="node_modules" />
         </hiddenSegments>
       </requestFiltering>
     </security> 
	 <iisnode nodeProcessCommandLine='"C:\Program Files\nodejs\node.exe" --no-warnings' />
  </system.webServer>
</configuration>