<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reset Password</title>
</head>
<body>
  <h4 style=" text-align:center">Reset Password </h4>
  <p>Hi {{username}}</p>
  <p>Forgot your password? </p>
  <p>We received a request to reset the password for your account.</p>
  <p>To reset your password, click <a href={{resetPasswordLink}}>Reset Password</a> </p> 
  
  Or copy and paste the below URL into your browser:
  <p>{{resetPasswordLink}}</p>
  <p>Regards, </p>
  <p>Voxxil Team</p>
</body>
</html>